# UFCFVQ-15-M Programming for Data Science (Autumn 2023)

## Student Id:

# Programming Task 2

### Requirement FR6 - Read CSV data from two files and merge it into a single Data Frame

In [1]:
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
from scipy.stats import f_oneway
plt.style.use('ggplot')

In [2]:
# Read the CSV files into DataFrames
df1 = pd.read_csv('task2a.csv')
df2 = pd.read_csv('task2b.csv')

# Ensure that the indices match up
assert df1.shape[0] == df2.shape[0]
# Ensure that duplicate fields matchup
assert df1[['Entity', 'Year']].equals(df2[['Entity', 'Year']])

# # Concatenate the DataFrames
df = pd.concat([df1, df2], axis=1)

df3 = df.T.drop_duplicates().T

df3

,Entity,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Depression (%),Drug use disorders (%),Alcohol use disorders (%)
0,Afghanistan,1990,0.16056,0.697779,0.101855,4.82883,4.071831,1.677082,0.672404
1,Afghanistan,1991,0.160312,0.697961,0.099313,4.82974,4.079531,1.684746,0.671768
2,Afghanistan,1992,0.160135,0.698107,0.096692,4.831108,4.088358,1.694334,0.670644
3,Afghanistan,1993,0.160037,0.698257,0.094336,4.830864,4.09619,1.70532,0.669738
4,Afghanistan,1994,0.160022,0.698469,0.092439,4.829423,4.099582,1.716069,0.66926
...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,0.15567,0.607993,0.117248,3.090168,3.128192,0.76628,1.515641
6464,Zimbabwe,2014,0.155993,0.60861,0.118073,3.093964,3.14029,0.768914,1.51547
6465,Zimbabwe,2015,0.156465,0.609363,0.11947,3.098687,3.15571,0.771802,1.514751
6466,Zimbabwe,2016,0.157111,0.610234,0.121456,3.104294,3.174134,0.772275,1.513269
6467,Zimbabwe,2017,0.157963,0.611242,0.124443,3.110926,3.192789,0.772648,1.510943

### Requirement FR7 - Explore the dataset to identify an "interesting" pattern or trend

In [3]:
# replace with your code

# shape of merged dataframe
df3.shape

(6468, 9)

In [4]:
df3.head(20)

,Entity,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Depression (%),Drug use disorders (%),Alcohol use disorders (%)
0,Afghanistan,1990,0.16056,0.697779,0.101855,4.82883,4.071831,1.677082,0.672404
1,Afghanistan,1991,0.160312,0.697961,0.099313,4.82974,4.079531,1.684746,0.671768
2,Afghanistan,1992,0.160135,0.698107,0.096692,4.831108,4.088358,1.694334,0.670644
3,Afghanistan,1993,0.160037,0.698257,0.094336,4.830864,4.09619,1.70532,0.669738
4,Afghanistan,1994,0.160022,0.698469,0.092439,4.829423,4.099582,1.716069,0.66926
5,Afghanistan,1995,0.160076,0.698695,0.09098,4.828337,4.104207,1.728112,0.668746
6,Afghanistan,1996,0.160249,0.698914,0.089709,4.828083,4.1075,1.737643,0.667727
7,Afghanistan,1997,0.160554,0.699127,0.088372,4.827726,4.110834,1.746891,0.66622
8,Afghanistan,1998,0.160931,0.699372,0.08733,4.826971,4.114438,1.756963,0.664676
9,Afghanistan,1999,0.161311,0.699674,0.086267,4.826413,4.117633,1.770791,0.663428
10,Afghanistan,2000,0.161621,0.700015,0.086021,4.827047,4.11861,1.788395,0.662479
11,Afghanistan,2001,0.161957,0.700499,0.086517,4.831409,4.121381,1.839123,0.661158
12,Afghanistan,2002,0.162414,0.701141,0.087023,4.838318,4.124928,1.934326,0.659213
13,Afghanistan,2003,0.162916,0.70186,0.087189,4.845538,4.12523,2.051106,0.657354
14,Afghanistan,2004,0.163377,0.702556,0.088158,4.851512,4.126384,2.163044,0.656132
15,Afghanistan,2005,0.163706,0.703078,0.088933,4.854684,4.126908,2.247443,0.655686
16,Afghanistan,2006,0.163977,0.703517,0.090054,4.856685,4.128638,2.32102,0.656297
17,Afghanistan,2007,0.164302,0.703998,0.091688,4.858861,4.129728,2.405564,0.657709
18,Afghanistan,2008,0.164639,0.70448,0.093589,4.860437,4.129656,2.483862,0.659501
19,Afghanistan,2009,0.164932,0.704925,0.095166,4.861533,4.129972,2.543884,0.661185

In [5]:
# Dataframe info
# This is showing that their are no null or missing values in the dataframe
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Entity                     6468 non-null   object
 1   Year                       6468 non-null   object
 2   Schizophrenia (%)          6468 non-null   object
 3   Bipolar disorder (%)       6468 non-null   object
 4   Eating disorders (%)       6468 non-null   object
 5   Anxiety disorders (%)      6468 non-null   object
 6   Depression (%)             6468 non-null   object
 7   Drug use disorders (%)     6468 non-null   object
 8   Alcohol use disorders (%)  6468 non-null   object
dtypes: object(9)
memory usage: 454.9+ KB

In [6]:
# Checking to see if there are any missing values
# the dataframe has no missing values
df3.isna().sum()

Entity                       0
Year                         0
Schizophrenia (%)            0
Bipolar disorder (%)         0
Eating disorders (%)         0
Anxiety disorders (%)        0
Depression (%)               0
Drug use disorders (%)       0
Alcohol use disorders (%)    0
dtype: int64

In [7]:
df3.dtypes

Entity                       object
Year                         object
Schizophrenia (%)            object
Bipolar disorder (%)         object
Eating disorders (%)         object
Anxiety disorders (%)        object
Depression (%)               object
Drug use disorders (%)       object
Alcohol use disorders (%)    object
dtype: object

In [8]:
df3.describe()
# df3[['Entity', 'Year', 'Schizophrenia (%)', 'Bipolar disorder (%)',
#        'Eating disorders (%)', 'Anxiety disorders (%)', 'Depression (%)',
#        'Drug use disorders (%)', 'Alcohol use disorders (%)']].describe()

,Entity,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Depression (%),Drug use disorders (%),Alcohol use disorders (%)
count,6468,6468,6468.00000,6468.000000,6468.000000,6468.00000,6468.000000,6468.000000,6468.000000
unique,231,28,6468.00000,6468.000000,6468.000000,6468.00000,6468.000000,6468.000000,6468.000000
top,Afghanistan,1990,0.16056,0.697779,0.101855,4.82883,4.071831,1.677082,0.672404
freq,28,231,1.00000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [ ]:
# df3[['Entity', 'Year', 'Schizophrenia (%)', 'Bipolar disorder (%)',
#        'Eating disorders (%)', 'Anxiety disorders (%)', 'Depression (%)',
#        'Drug use disorders (%)', 'Alcohol use disorders (%)']].describe()

In [9]:
df3 = df3.rename(columns={'Schizophrenia (%)': 'Schizophrenia', 'Bipolar disorder (%)': 'Bipolar_Disorder',
       'Eating disorders (%)': 'Eating_Disorders', 'Anxiety disorders (%)': 'Anxiety_Disorders', 'Depression (%)': 'Depression',
       'Drug use disorders (%)': 'Drug_Use_Disorders', 'Alcohol use disorders (%)':'Alcohol_Use_Disorders'})
df3

,Entity,Year,Schizophrenia,Bipolar_Disorder,Eating_Disorders,Anxiety_Disorders,Depression,Drug_Use_Disorders,Alcohol_Use_Disorders
0,Afghanistan,1990,0.16056,0.697779,0.101855,4.82883,4.071831,1.677082,0.672404
1,Afghanistan,1991,0.160312,0.697961,0.099313,4.82974,4.079531,1.684746,0.671768
2,Afghanistan,1992,0.160135,0.698107,0.096692,4.831108,4.088358,1.694334,0.670644
3,Afghanistan,1993,0.160037,0.698257,0.094336,4.830864,4.09619,1.70532,0.669738
4,Afghanistan,1994,0.160022,0.698469,0.092439,4.829423,4.099582,1.716069,0.66926
...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,2013,0.15567,0.607993,0.117248,3.090168,3.128192,0.76628,1.515641
6464,Zimbabwe,2014,0.155993,0.60861,0.118073,3.093964,3.14029,0.768914,1.51547
6465,Zimbabwe,2015,0.156465,0.609363,0.11947,3.098687,3.15571,0.771802,1.514751
6466,Zimbabwe,2016,0.157111,0.610234,0.121456,3.104294,3.174134,0.772275,1.513269
6467,Zimbabwe,2017,0.157963,0.611242,0.124443,3.110926,3.192789,0.772648,1.510943

In [ ]:
# not duplicated rows by column
# df3.loc[~df3.duplicated(subset=['Entity'])]

# select subset of dataframe rows by entity value
df_morocco = df3[df3['Entity'] == 'Belarus'].copy()
df_morocco

In [ ]:
# df_afgh = df_afgh.rename(columns={'Schizophrenia (%)': 'Schizophrenia', 'Bipolar disorder (%)': 'Bipolar_Disorder',
#        'Eating disorders (%)': 'Eating_Disorders', 'Anxiety disorders (%)': 'Anxiety_Disorders', 'Depression (%)': 'Depression',
#        'Drug use disorders (%)': 'Drug_Use_Disorders', 'Alcohol use disorders (%)':'Alcohol_Use_Disorders'})
# df_afgh

In [ ]:
df_morocco.isna().sum()

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(x='Year', y='Bipolar_Disorder', hue='Entity', data=df_morocco, marker='o')
plt.title('Temporal Analysis of Bipolar_Disorder (%)')
plt.show()

In [ ]:
df_morocco.loc[df_morocco.duplicated()]

In [ ]:
df_afgh['Bipolar_Disorder'].value_counts()

In [ ]:
df_morocco.plot(kind='scatter',
             x='Year',
             y='Bipolar_Disorder',
             title='Year vs. Bipolar_Disorder')
plt.show()

In [ ]:
sns.scatterplot(x='Year',
                y='Bipolar_Disorder',
                data=df_morocco)
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
sns.histplot(df_morocco['Bipolar_Disorder'], kde=True)
plt.title('Distribution of Bipolar_Disorder (%)')
plt.show()

In [ ]:
sns.pairplot(df_morocco, vars=['Schizophrenia','Bipolar_Disorder',
                            'Eating_Disorders','Anxiety_Disorders',
                            'Depression','Drug_Use_Disorders', 'Alcohol_Use_Disorders'])
plt.show()

In [ ]:
df_morocco = df_morocco[['Schizophrenia', 'Bipolar_Disorder','Eating_Disorders', 'Anxiety_Disorders', 'Depression','Drug_Use_Disorders', 'Alcohol_Use_Disorders']].astype('float64')
df_morocco_corr = df_morocco.corr()
df_morocco_corr

In [ ]:
sns.heatmap(df_morocco_corr, annot=True)

In [ ]:
Visualize mean depression prevalence by entity

In [ ]:
# df3['Entity'].unique()

In [ ]:
# Select a few entities for analysis
selected_entities = ['Morocco', 'Mozambique', 'Myanmar']

# Filter the data for selected entities
df_selection = df3[df3['Entity'].isin(selected_entities)]

In [ ]:
plt.figure(figsize=(12, 6))
sns.boxplot(x='Entity', y='Bipolar_Disorder', data=df_selection)
plt.title('Mean Bipolar_Disorder Prevalence by Entity')
plt.xlabel('Entity')
plt.ylabel('Bipolar_Disorder (%)')
plt.show()

### Requirement FR8 - Detect and remove any outliers in the data used for your "interesting" pattern or trend

In [ ]:
# replace with your code

### Requirement FR9 - Define a hypothesis to test your “interesting” pattern or trend

In [ ]:
# replace with your code

### Requirement FR10 - Test your hypothesis with statistical significance level of 0.05

In [ ]:
# replace with your code